.header-wrapper {
    background: black;
    height: 100px;
    width: 100vw;
    position: fixed;
  }
  .header-content {
    display: flex;
    flex-direction: row;
    gap: 50px;
    height: 100%;
    align-items: center;
  }
  .header-item {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    height: 100%;
    text-align: center;
  }
  .header-item:hover {
    cursor: pointer;
    background-color: grey;
  }
  .test{
    /* nothing */
    /* is gpg working? */
  }

  